
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?restaurant,<%= @restaurant.category %>)">
  <h2><%= @restaurant.name %></h2>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Restaurants list', restaurants_path, class: "nav-link" %>

        <!-- <a class="nav-link" href="#">Restaurants list<span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item">
        <%= link_to 'View reviews', restaurant_reviews_path(@restaurant), class: "nav-link" %>
      </li>
    </ul>

  </div>
</nav>

<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.category %></p>
    </div>
  </div>
<div class="container">
  <div class="card mt-5">
      <h3 class="p-4 text-center">Add a review to <%= @restaurant.name %></h3>
    <div class="card-body">
      <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :content, placeholder: "Your review here" %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

</div>


